<div [hidden]="!isPlaying" class="video-player">
    <div class="randomList">
        <div matRipple class="showHide" (click)="changeListState()">
            <mat-icon>{{ showList ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
        </div>
        <div [class]="showList ? 'show' : 'hide'" class="list">
            <div class="listItem" [class]="video.isPlaying ? 'highlight' : ''" *ngFor="let video of randomPlaylist">
                <div class="row">
                    <app-youtube-video (click)="moveVideoToNewIndex(video)" [title]="video?.title" [channelName]="video?.channelTitle" [thumbnailUrl]="video?.thumbnailUrl" [videoLength]="video.videoLength"></app-youtube-video>
                    <button mat-icon-button aria-label="delete" (click)="removeVideo(video)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>
        <button mat-raised-button class="clear" (click)="clearList()">Clear list</button>
    </div>
    <div id="player"></div>
</div>