<div class="content">
    <div class="settings">
        <mat-radio-group aria-label="Select an API Key" color="primary">
            <mat-radio-button value="1" (change)="change(1)">API Key 1</mat-radio-button>
            <mat-radio-button value="2" (change)="change(2)">API Key 2</mat-radio-button>
            <mat-radio-button value="3" (change)="change(3)">API Key 3</mat-radio-button>
            <mat-radio-button value="4" (change)="change(4)">API Key 4</mat-radio-button>
          </mat-radio-group>
    </div>
</div>