<mat-toolbar color="primary">
  <a routerLink="/settings">Youtube Playlist Randomizer</a>
  <span class="filler"></span>
  <app-search-bar></app-search-bar>
  <span class="filler"></span>
  <button mat-icon-button aria-label="Playlist" (click)="navigateToPlaylist()">
    <mat-icon>playlist_play</mat-icon>
  </button>
  <button mat-icon-button aria-label="Playlist" (click)="navigateToLastPlaylist()">
    <mat-icon>queue</mat-icon>
  </button>
</mat-toolbar>
<app-video-player #videoPlayer></app-video-player>

<router-outlet></router-outlet>